<mat-card class="content">
    <div class="main">

        <div class="title">
            <h1>Informativos</h1>
            <button mat-icon-button matTooltip="Adicionar Informativos" (click)="createNewInformation()"><i class="material-icons">add</i></button>
        </div>
    </div>
    <h6>* Este é o nosso mural de informações. Nele você ficará por dentro de todas as notícias mais importantes
        provenientes do Suporte Help Desk - Data Center</h6>
    <mat-divider></mat-divider>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>


    <div class="container">

        <mat-card class="cardInformation" *ngFor="let information of informations">
            <mat-card-content>
                <mat-card-title (click)="editInformation(information)" >{{information.title}}</mat-card-title>
                <mat-card-subtitle>{{information.description}}</mat-card-subtitle>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer><button mat-raised-button color="accent" (click)="viewInformation(information.cdInform)">Ler mais</button></mat-card-footer>
        </mat-card>

    </div>
    
</mat-card>