<div class="container">
    <div class="content">

        <div class="title">
            <h1>Deletar Categoria</h1>
            <h6>* Preencha o formulário corretamente. </h6>
        </div>


        <mat-divider></mat-divider>



        <mat-divider></mat-divider>

        <div class="actions">
            <div mat-dialog-actions align="start">
                <button mat-raised-button color="warn">Deletar</button>
                <button mat-button mat-dialog-close color="primary">Fechar</button>
            </div>
        </div>
    </div>
</div>