<div class="container">
    <div class="content">

        <h1>{{information.title}}</h1>
        <h6>* {{information.description}}</h6>

        <mat-divider></mat-divider>

        <h3> {{information.content}}</h3>

        <div class="imageInformation" *ngIf="information.data">
            <img src="data:image;base64,{{information.data}}" alt="não foi possível abrir">
        </div>

        <mat-divider></mat-divider>

        <div mat-dialog-actions align="start">
            <button mat-button color="warn" mat-dialog-close>Fechar</button>
        </div>
    </div>
</div>