<div class="container">
    <div class="content">

        <div class="title">
            <h1>Editar Categoria</h1>          
            <h6>* Preencha o formulário corretamente. </h6>
        </div>

        <mat-divider></mat-divider>

        

        <mat-divider></mat-divider>

        <div class="actions">
            <div mat-dialog-actions align="start">
                <button mat-raised-button color="accent">Editar</button>
                <button mat-button color="warn" mat-dialog-close>Fechar</button>
            </div>
        </div>

    </div>
</div>