.content{
    margin: 2%;
    padding: 30px;
    height: 93%;
    font-family: 'Roboto Mono';
}
.title {
    display: flex;
}

.title button {
    margin-left: 10px;
    margin-top: -9px;
}

h1, h2, h3 {
    font-family: 'Roboto Mono';
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardManuals {
    padding: 15px;
    margin: 15px;
    width: 20%;
    height: auto;
    text-align: center;
    align-items: center;
}

mat-divider {
    width: 100%;
    margin-top: 5px;
}