<mat-card class="content">
    <div class="main">

        <div class="title">
            <h1>Manuais</h1>
            <button mat-icon-button matTooltip="Adicionar Manual" (click)="createManual()"><i
                    class="material-icons">add</i></button>
        </div>
        <div class="title">
            <h1>Categorias</h1>
            <button mat-icon-button matTooltip="Cadastrar Categorias" (click)="listCategories()"><i
                    class="material-icons">add</i></button>
        </div>
        <!-- <div class="buttonCategory">
            <button mat-fab><mat-icon>category</mat-icon>Cadastrar Categorias</button>
        </div> -->
    </div>
    <mat-divider></mat-divider>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>


    <div class="container">

        <div class="containerManual" *ngFor="let categories of listCategory">


            <div class="titleManual">
                <h1>{{categories.category}}</h1>
            </div>

            <div class="contentManual">

                <mat-card class="cardManuals" *ngFor="let manual of categories.manual">
                    <mat-card-header>
                        <mat-card-title (click)="editManual(manual)">
                            {{manual.docName}}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-footer>
                        <a><button mat-raised-button color="accent"
                                (click)="downloadFile(manual.id, manual.docName)">Baixar</button></a>
                    </mat-card-footer>
                </mat-card>

                <mat-divider></mat-divider>
            </div>
        </div>
    </div>

</mat-card>