<mat-card class="content">
    <div class="title">
        <h1>Manuais</h1>
        <button mat-icon-button matTooltip="Adicionar Manual"><i class="material-icons">add</i></button>
    </div>
    <mat-divider></mat-divider>

    <div class="container">

        <mat-card class="cardManuals" >
            <mat-card-header>
                <mat-card-title >
                    <h1>teste</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <h1>teste</h1>
            </mat-card-footer>
        </mat-card>
    </div>

</mat-card>