<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <mat-toolbar color="primary">
            <mat-nav-list class="nav-list">
                <div class="img">
                    <img src="../../../assets/img/avataaars.svg" alt="logo-usuario">
                </div>
                <mat-list-item routerLink="/dashboard"><a><mat-icon>dashboard</mat-icon> Inicio</a></mat-list-item>
                <mat-list-item routerLink="send-sms"><a><mat-icon>feed</mat-icon> Envio de Senha</a></mat-list-item>
                <mat-list-item><a><mat-icon>textsms</mat-icon> Automatizações</a></mat-list-item>
                <mat-list-item><a><mat-icon>terminal</mat-icon> Softwares</a></mat-list-item>
                <mat-list-item><a><mat-icon>vpn_lock</mat-icon> Acesso VPN</a></mat-list-item>
                <mat-list-item><a><mat-icon>notifications_active</mat-icon> Informes</a></mat-list-item>
                <mat-list-item><a><mat-icon>menu_book</mat-icon> Manuais</a></mat-list-item>
                <mat-list-item routerLink="users"><a><mat-icon>group</mat-icon> Usuários</a></mat-list-item>
                <mat-list-item routerLink="my-informations"><a><mat-icon>settings</mat-icon> Minhas Informações</a></mat-list-item>
                <mat-list-item (click)="logout()"><a><mat-icon>logout</mat-icon> Sair</a></mat-list-item>
            </mat-nav-list>
        </mat-toolbar>
    </mat-drawer>

    <mat-drawer-content class="content">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>