.container {
    height: 100%;
    justify-content: center;
    background-image: url(../../../assets/img/background-dashboard.png);
}

mat-drawer {
    align-items: center;
     /* background-color: #1CA295; */
    /* width: 10%; */
}

mat-toolbar {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: #1CA295; */
    /* background-color: #9ECB64; */
    /* background-color: #00ae9d; */
}

.img {
    text-align: center;
}

mat-icon {
    align-items: center;
    padding-right: 7px;
}

mat-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

mat-nav-list mat-list-item a {
    display: flex;
    color: #fff;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 500px;
}

@media (max-width: 1024px) {
    mat-drawer {
        align-items: center;
        width: 10%;
        height: auto;
    }

    img {
        display: none;
    }

    p {
        display: none;
    }

}