<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <mat-toolbar color="primary">
            <mat-nav-list class="nav-list">
                <div class="img">
                    <img src="../../../assets/img/avataaars.svg" alt="logo-usuario">
                </div>
                <mat-list-item routerLink="/dashboard"><a matTooltip="Inicio"><mat-icon>dashboard</mat-icon>
                        <p>Inicio</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="send-sms"><a matTooltip="Envio de Senha"><mat-icon>feed</mat-icon>
                        <p> Envio de Senha</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="softwares"><a matTooltip="Automatizações"><mat-icon>textsms</mat-icon>
                        <p>Automatizações</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="softwares"><a matTooltip="Softwares"><mat-icon>terminal</mat-icon>
                        <p>Softwares</p>
                    </a></mat-list-item>
                <!-- <mat-list-item><a><mat-icon>vpn_lock</mat-icon> Acesso VPN</a></mat-list-item> -->
                <mat-list-item routerLink="informations"><a matTooltip="Informes"><mat-icon>notifications_active</mat-icon>
                        <p>Informes</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="manuais"><a matTooltip="Manuais"><mat-icon>menu_book</mat-icon>
                        <p>Manuais</p>
                    </a></mat-list-item>
                <!-- <mat-list-item><a><mat-icon>code</mat-icon> DEV</a></mat-list-item> -->
                <mat-list-item routerLink="users"><a matTooltip="Usuários"><mat-icon>group</mat-icon>
                        <p>Usuários</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="my-informations"><a matTooltip="Informações"><mat-icon>settings</mat-icon>
                        <p>Minhas
                            Informações</p>
                    </a></mat-list-item>
                <mat-list-item (click)="logout()"><a matTooltip="Sair"><mat-icon>logout</mat-icon>
                        <p>Sair</p>
                    </a></mat-list-item>
            </mat-nav-list>
        </mat-toolbar>
    </mat-drawer>

    <mat-drawer-content class="content">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>