<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <mat-toolbar>
            <mat-nav-list class="nav-list">
                <div class="img">
                    <img src="../../../assets/img/sicoob.jpg" alt="logo-usuario">
                </div>
                <mat-list-item routerLink="/dashboard" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"><a><mat-icon>dashboard</mat-icon>
                        <p>Inicio</p>
                    </a></mat-list-item>
                <!-- <mat-list-item routerLink="send-sms"><a><mat-icon>feed</mat-icon>
                        <p> Envio de Senha</p>
                    </a></mat-list-item> -->
                <mat-list-item routerLink="reserveOfEquipments"
                    routerLinkActive="active"><a><mat-icon>construction</mat-icon>
                        <p> Reserva de Equipamento</p>
                    </a></mat-list-item>
                <mat-list-item><a><mat-icon>code</mat-icon>
                        <p> Usuários DEV</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="automations" routerLinkActive="active"><a><mat-icon>textsms</mat-icon>
                        <p>Automatizações</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="softwares" routerLinkActive="active"><a><mat-icon>terminal</mat-icon>
                        <p>Softwares</p>
                    </a></mat-list-item>
                <!-- <mat-list-item><a><mat-icon>vpn_lock</mat-icon> Acesso VPN</a></mat-list-item> -->
                <mat-list-item routerLink="informations"
                    routerLinkActive="active"><a><mat-icon>notifications_active</mat-icon>
                        <p>Informes</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="manuais" routerLinkActive="active"><a><mat-icon>menu_book</mat-icon>
                        <p>Manuais</p>
                    </a></mat-list-item>
                <!-- <mat-list-item><a><mat-icon>code</mat-icon> DEV</a></mat-list-item> -->
                <mat-list-item routerLink="users" routerLinkActive="active"><a><mat-icon>group</mat-icon>
                        <p>Usuários</p>
                    </a></mat-list-item>
                <mat-list-item routerLink="my-informations" routerLinkActive="active"><a><mat-icon>settings</mat-icon>
                        <p>Minhas
                            Informações</p>
                    </a></mat-list-item>
                <mat-list-item (click)="logout()" routerLinkActive="active"><a><mat-icon>logout</mat-icon>
                        <p>Sair</p>
                    </a></mat-list-item>
            </mat-nav-list>
        </mat-toolbar>
    </mat-drawer>

    <mat-drawer-content class="content">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>