<mat-card class="content">
    <div class="title">
        <h1>Softwares</h1>
        <button mat-icon-button matTooltip="Adicionar Softwares" (click)="createSoftware()"><i
                class="material-icons">add</i></button>
    </div>
    <mat-divider></mat-divider>

    <div class="container">

        <mat-card class="cardSoftwares" *ngFor="let software of softwares">
            <mat-card-header>
                <mat-card-title (click)="editSoftware(software)">
                    {{ software.title }}
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <a target="_blank" href="{{software.link}}"><button mat-raised-button color="accent">Abrir</button></a>

            </mat-card-footer>
        </mat-card>
    </div>
</mat-card>