
<div class="container">
    <div class="content">
        <h1>Deletar Usuário</h1>
        <mat-divider></mat-divider>

        <h3>Deseja realmente excluir este usuário ? </h3>


        <mat-divider></mat-divider>

        <div class="footer" mat-dialog-actions align="start">
            <button mat-raised-button color="warn"
                (click)="deleteUser()">Deletar</button>
            <button mat-button color="primary" mat-dialog-close>Fechar</button>
        </div>

    </div>
</div>
