.container {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 100%;
    /* overflow-x: auto; */
}

.content {
    margin: 30px;
    width: 100%;
    height: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    overflow-y: auto;
}

mat-form-field {
    padding: 5px 0 5px 0;
}

h1,
h3,
h6 {
    font-family: 'Roboto Mono';
    color: black;
}

