<div class="container">
    <div class="content">
        <h1>Cadastrar Informativo</h1>
        <h6>* Preencha o formulário corretamente. </h6>

        <mat-divider></mat-divider>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

        <form enctype="multipart/form-data" [formGroup]="formCreate">

            <mat-form-field appearance="outline">
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="Informe um titulo para o informativo" required formControlName="title">
                <mat-icon matSuffix>title</mat-icon>
                <mat-error>O campo é obrigatório !</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <input matInput placeholder="Informe descrição para o informativo" required formControlName="description">
                <mat-icon matSuffix>toc</mat-icon>
                <mat-error>O campo é obrigatório !</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Conteúdo do informativo</mat-label>
                <textarea matInput placeholder="Preencha o conteudo do informativo" required rows="10"
                    formControlName="content"></textarea>
                <mat-icon matSuffix>content_paste</mat-icon>
                <mat-error>O campo é obrigatório !</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" required>
                <mat-label>Selecione um arquivo</mat-label>
                <button mat-icon-button matPrefix (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <input type="text" readonly matInput value="{{selectedFile?.name}}" required />
                <input type="file" multiple hidden #fileInput (change)="onFileSelected($event)"
                    formControlName="file" />
                <mat-hint align="start">
                    *Caso o informativo tenha algum arquivo, adicione aqui.
                </mat-hint>
                <mat-icon matSuffix>picture_as_pdf</mat-icon>
                <mat-error disabled="!valid.error">O campo é obrigatório</mat-error>
            </mat-form-field>

            <mat-divider></mat-divider>

            <div class="actions">
                <div mat-dialog-actions align="start">
                    <button mat-raised-button color="primary" (click)="saveInformation()" [disabled]="!formCreate.valid">Salvar</button>
                    <button mat-button color="warn" mat-dialog-close>Fechar</button>
                </div>
            </div>
        </form>
    </div>
</div>