<mat-card class="content">
    <div class="title">
        <h1>Dashboard</h1>
        <h6>* Em nossa base de controle de acessos você encontrará informações necessárias para conferência e cadastro
            nas atividades que fazem parte do nosso dia a dia. Tais como orientações para configuração da vpn, cadastro
            e consulta de perfil de desenvolvedor, distribuição de chamados e consulta da planilha de controle de férias
            de colaboradores.</h6>
    </div>
    <mat-divider></mat-divider>
    <div class="container">
        <mat-card class="card-infobip">
            <mat-card-content>
                <mat-card-title>Envio de Senha por SMS</mat-card-title>
                <mat-card-subtitle>Reset de senha do usuário via infobip</mat-card-subtitle>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <button mat-raised-button color="accent">Abrir</button>
            </mat-card-footer>
        </mat-card>

        <mat-card class="card-infobip">
            <mat-card-content>
                <mat-card-title>VPN CCS</mat-card-title>
                <mat-card-subtitle>Planilha para conferência de Gateways atribuídos aos usuários do
                    CCS</mat-card-subtitle>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <a target="_blank"
                    href="https://sicoob.sharepoint.com/:x:/r/sites/SuporteHD/_layouts/15/Doc.aspx?sourcedoc=%7BF3B0848C-893F-4680-BF13-61750465C9B2%7D&file=VPNSSL.xlsx&wdOrigin=TEAMS-ELECTRON.p2p.bim&action=default&mobileredirect=true&cid=09e746c9-2cbc-4b92-b234-2dd7bd5a5617"><button
                        mat-raised-button color="accent">Abrir</button></a>

            </mat-card-footer>
        </mat-card>

        <mat-card class="card-infobip">
            <mat-card-content>
                <mat-card-title>Perfil de Desenvolvedor</mat-card-title>
                <mat-card-subtitle>Planilha para consulta e lançamento de novos colaboradores com perfil
                    desenvolvedor</mat-card-subtitle>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <a target="_blank"
                    href="https://sicoob.sharepoint.com/:x:/r/sites/SuporteHD/_layouts/15/Doc.aspx?sourcedoc=%7B8A9E3F06-DFC5-4187-B285-8DEF72BACDBC%7D&file=Planilha%20-%20Hardening%202023.xlsx&action=default&mobileredirect=true&cid=6ae23576-b872-4c0e-a18b-72c99b34af67"><button
                        mat-raised-button color="accent">Abrir</button></a>
            </mat-card-footer>
        </mat-card>

        <mat-card class="card-infobip">
            <mat-card-content>
                <mat-card-title>Chamados TopDesk</mat-card-title>
                <mat-card-subtitle>Planilha para distribuição de chamados</mat-card-subtitle>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <a target="_blank"
                    href="https://sicoob.sharepoint.com/sites/SuporteHD/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2FSuporteHD%2FShared%20Documents&viewpath=%2Fsites%2FSuporteHD%2FShared%20Documents%2FForms%2FAllItems%2Easpx&id=%2Fsites%2FSuporteHD%2FShared%20Documents%2FDistribui%C3%A7%C3%A3o%20de%20chamados%2F2023&viewid=29237847%2D759c%2D4d2e%2Da256%2D2788b3f9aa4f"><button
                        mat-raised-button color="accent">Abrir</button></a>
            </mat-card-footer>
        </mat-card>

        <mat-card class="card-infobip">
            <mat-card-content>
                <mat-card-title>Férias Colaboradores</mat-card-title>
                <mat-card-subtitle>Planilha para controle de férias dos colaboradores Bancoob, Sicoob e
                    terceiros</mat-card-subtitle>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <a target="_blank"
                    href="https://sicoob.sharepoint.com/:x:/r/sites/SuporteHD/_layouts/15/Doc.aspx?sourcedoc=%7B86C301ED-77C4-452F-A6D8-92C0D01BEFBC%7D&file=F%C3%A9rias%20Colaboradores%202023.xlsx&action=default&mobileredirect=true&cid=b5b10bec-6a9f-4a63-8952-2d4de9e0bad7"><button
                        mat-raised-button color="accent">Abrir</button></a>
            </mat-card-footer>
        </mat-card>
    </div>
</mat-card>