.content {
    margin: 2%;
    padding: 30px;
    height: 93%;
    display: flex;
    overflow-y: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


h1,
h6 {
    font-family: 'Roboto Mono';
}

.card-infobip {
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: 15px;
    width: 47%;
    height: auto;
}

mat-divider {
    margin-top: 15px;
}

button {
    margin-top: 15px;
}