<div class="container">
    <div class="content">
        <h1>Excluir Arquivo</h1>
        <h6> * Isso apagará permanentemente o arquivo</h6>

        <mat-divider></mat-divider>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

        <div class="actions">
            <div mat-dialog-actions align="start">
                <button mat-raised-button color="warn" (click)="deleteAutomationById()">Excluir</button>
                <button mat-button color="warn" mat-dialog-close>Fechar</button>
            </div>
        </div>
        
    </div>
</div>