
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../../assets/img/background-login.png);
    

}

.content {
    padding: 20px;
    display: flex;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    
} 

h1, h3{
    font-family: 'Roboto Mono';
}
 

.img>img {
    width: 600px;
    height: 600px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form>h1 {
    padding: 30px 0 10px 0;
    font-size: 40px;
}


mat-form-field {
    margin: 0px 0 5px 0;
}

.fictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.reset-password>a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button{
    margin-top: 30px;
    color: black;
}

#btn-cadastrar{
    background-color: #00ae9d;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
}

@media (max-width: 1024px) {
    .img{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
}