<mat-card class="content">
    <div class="title">
        <h1>Automatizações</h1>
        <button mat-icon-button matTooltip="Adicionar Softwares" (click)="createdAutomation()"><i
                class="material-icons">add</i></button>
    </div>
    <h6>* Bats úteis para auxilíos nos procedimentos técnicos.</h6>
    <mat-divider></mat-divider>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <div class="container">

        <mat-card class="cardAutomation" *ngFor="let automation of listAutomation">
            <mat-card-header>
                <mat-card-title (click)="deleteAutomation(automation.id)">
                    {{ automation.docName }}
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <button mat-raised-button color="accent"
                    (click)="downloadFile(automation.id, automation.docName)">Baixar</button>
            </mat-card-footer>
        </mat-card>
    </div>
</mat-card>